.csvhub-diff {
}

.csvhub-diff table {
  width: 100%;
}

.csvhub-diff th {
  text-align: left;
}

.csvhub-diff td, .csvhub-diff th {
  border: 1px solid #DDD;
  padding: 5px;
}

.csvhub-diff tr:nth-child(even) {
  background-color: #f8f8f8;
}

.csvhub-diff tr:nth-child(even) td.modify,
.csvhub-diff tr:nth-child(even) th.modify {
  background-color: #BFCFD6 !important;
}

.csvhub-diff tr:nth-child(odd) td.modify,
.csvhub-diff tr:nth-child(odd) th.modify {
  background-color: #C5D5DD !important;
}

.csvhub-diff tr:nth-child(even) td.add,
.csvhub-diff tr:nth-child(even) th.add,
.csvhub-diff tr.add:nth-child(even) {
  background-color: #D6F8D6 !important;
}


.csvhub-diff tr:nth-child(odd) td.add,
.csvhub-diff tr:nth-child(odd) th.add,
.csvhub-diff tr.add:nth-child(odd) {
  background-color: #DFD !important;
}

.csvhub-diff tr:nth-child(even) td.remove,
.csvhub-diff tr:nth-child(even) th.remove,
.csvhub-diff tr.remove:nth-child(even) {
  background-color: #F8D6D6 !important;
}

.csvhub-diff tr:nth-child(odd) td.remove,
.csvhub-diff tr:nth-child(odd) th.remove,
.csvhub-diff tr.remove:nth-child(odd) {
  background-color: #FDD !important;
}
